/* reset CSS */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* Importando a fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* Estilizado a cor de fundo e a fonte padrão do corpo da página */
body {
    font-family: 'Inconsolata', monospace;
    background-color: #ffffffda;    
}

/* Estilizado o cabeçalho */
header {
    background-color: #f5f0f0da;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 4px 5px #8080808f ;
}
/* Estilizado o título do cabeçalho */
header h1 {
    display: inline-flex;
    font-size: 250%;
    color: #808080;
    
}
/* Estilizado o parágrafo */
header p {
    float: right;
    padding: 12px 7px;
    font-size: 60%;
    opacity: 0.6;
    color: #808080;
}
/* Estilizado o span do cabeçalho */
header span {
    display: block;
}
/* Estilizado os hr (traços) no cabeçalho */
header hr {
    width: 30px;
    border: 2px solid;
    margin: 6px 40px;
    color: #808080;
}
/* Configurado o conteúdo contido na tag main */
main {
    margin: 40px;
}

/* Estilizado a imagem do banner */
.banner img{
    width: 1200px;
    height: 500px;
}

.navegacao {
    position: absolute;
    top: 350px;
}
/* Estilizado a imagem de navegação */
.navegacao img{
    width: 5vw;
    height: 10vh;
    opacity: 0.5;
}

/* Quadro das imagens */
.sessao-principal {
    display: inline-flex;
}

figure {
    margin: 60px;

}
figure img {
    max-width: 100%;
    min-height: 80%; 
}
figure p {
    color: #808080;
    font-size: 30px;
    padding: 10px;
}
.legenda-imagens, figure p {
    background-color: #e2e2e2ec;
    padding: 10px;
}
.novo {
    background-color: #04c204a8;
    color: #ffff;
    font-size: 22px;
    border-radius: 15px;
    padding: 8px 14px;
    margin-left: 300px;
}
.venda {
    background-color: #f8a917dc;
    color: #ffff;
    font-size: 22px;
    border-radius: 15px;
    padding: 8px 14px;
    margin-left: 260px;
}

.seu-estilo {
    margin: 30px;
    color: #808080;
    font-size: 40px;
    text-align: center;
    opacity: 0.6;
}

.your-style {
    margin-top: 90px;
    font-weight: bold;
}

.industial, .moderna, .classico {
    color: #ffff;
    padding: 20px;
}
.industial {
    margin-top: 15px;
    background-image: url(../img/07-industrial-v2.jpg);
    max-width: 1200px;
    background-size:cover;
    background-position: 10% 100%;
    min-height: 80px;
}
.moderna {
    margin-top: 15px;
    background-image: url(../img/08-modern-kitchen.jpg);
    max-width: 1200px;
    background-size:cover;
    background-position: 10% 50%;
    min-height: 80px;
}
.classico {
    margin-top: 15px;
    background-image: url(../img/09-living-room.jpg);
    max-width: 1200px;
    background-size:cover;
    background-position: 30% 70%;
    min-height: 80px;
}

.rodape {
    background-color: #000000d2;
    display: flex;
}

.mapa > img {
    margin: 40px;
    width: 500px;
    height: 300px;
    border-radius: 15px;
}
.informacoes {
    margin: 40px;
    color: #ffff;
    font-size: 25px;
}

.informacoes > ul {
    list-style: none;
    display: inline-flex;
}

.item-midia {
    padding-right: 40px;
}
.imagem-midias {
    max-width: 90px;
    display: flex;
}